streamlit
pandas
streamlit 
llama_index
torch
llama-index-llms-huggingface
llama_index.embeddings.huggingface 
transformers==4.13.0
tokenizers==0.10.3
regex==2021.11.2
requests==2.26.0
numpy==1.21.5
dataclasses==0.8
tqdm==4.62.3
filelock==3.2.0
pyyaml==5.4.1

